<header id="nav-home" class="navbar">
  <nav class="navbar-inner">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Foods", foods_path %></li>
        <li><%= link_to "Recipes", recipes_path %></li>
        <li><%= link_to "Public Recipe", public_recipes_path %></li>
      </ul>
      <% if current_user %>
      <%= button_to "Log Out", destroy_user_session_path,  method: :delete, class: 'logout-btn' %>
    <% end %>
  </nav>
</header>

<section class="column home">
  <div class="bg-plate"></div>
  <div class="column home home-wrapper">
    <div class="heading-text">
      <h1>Tasty Bites</h1>
      <p class="spaced-text">Culinary creativity</p>
      <p class="text-description">Unlock a world of healthy and delicious recipes, shared by our vibrant community.</p>
      
      <div class="row">
        <% unless current_user %>
          <%= link_to "Join Us Now!", new_user_registration_path, class: "btn-bg-transparent" %>
          <%= link_to "Log in", new_user_session_path, class: "btn-bg-transparent" %>
        <% else %>
          <%= link_to "Start Adding Food", foods_path, class: "btn-bg-transparent" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="flex-center column public-recipes">
  <h2>Public Recipes</h2>
  <ul class="max-width flex-center column">
    <% @public_recipes.each do |recipe| %>
      <li class="row">
        <%= render partial:"public_recipes/public_recipe", locals: {recipe: recipe} %>
      </li>
    <% end %>
  </ul>
</section>

<footer class="max-width row footer">
  <h6>All right reserved</h6>
  <h6><a href="https://github.com/Lucash2022" target="_blank">Lucas</a> & <a href="https://github.com/byiringiroscar" target="_blank">Oscar</a></h6>
</footer>
